<!-- Admin Add Product Page -->
<%- include('header')-%>

  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3 col-lg-2 sidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/admin/admindashboard">
              <i class="fa fa-home"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/adminproduct">
              <i class="fa fa-product-hunt"></i> Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/category">
              <i class="fa fa-list"></i> Category
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/customers">
              <i class="fa fa-users"></i> Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/brand">
              <i class="fa fa-users"></i> Brands
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/order">
              <i class="fa fa-bars"></i> Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/coupon">
              <i class="fa fa-bars"></i> Coupons
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/banner">
              <i class="fa fa-bars"></i> Banners
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/admin/productoffer">
              <i class="fa fa-bars"></i> ProductOffer
            </a>
          </li> -->
        
          <li class="nav-item">
            <a class="nav-link" href="/admin/sales">
              <i class="fa fa-line-chart"></i> Sales
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/logout">
              <i class="fa fa-sign-out"></i> Logout
            </a>
          </li>
        </ul>
      </div>

      <div class="container mt-5 mt-lg-1 shadow-lg rounded-2">

        <div class="container-fluid">
          <div class="row ">
            <main class="px-md-4 icons">
              <div class="row d-flex justify-content-between">
                <div class="col-md-8">
                  <h1 class="mt-2 text-white">Add Product</h1>

                  <form onsubmit="formSubmitted()" enctype="multipart/form-data"
                    class="card p-3 bg-light mb-3 text-dark text-shadow" id="myForm">
                    <% if (messages.success) { %>
                      <div class="alert alert-success">
                        <%= messages.success %>
                      </div>
                      <% }else if (messages.error){ %>
                        <div class="alert alert-danger">
                          <%= messages.error %>
                        </div>
                        <%}%>

                          <div class="form-group">
                            <label for="productName">Product Name:</label>
                            <input type="text" name="ProductName" class="form-control bg-light" id="productName"
                              placeholder="Enter product name" />
                            <div id="nameError"></div>
                          </div>
                          <br>


                          <label for="isnewarrival">
                            <input type="checkbox" name="isNewArrival" id="isnewarrival">
                            New Arrivals
                          </label>
                          <br>

                          <label for="isnewtrends">
                            <input type="checkbox" name="isNewTrends" id="isnewtrends">
                            New Trends
                          </label>
                          <br>
                          <div class="form-group">
                            <label for="productDescription">Product Description:</label>
                            <textarea class="form-control bg-light" name="Description" id="productDescription" rows="4"
                              placeholder="Enter product description"></textarea>
                            <div id="DescriptionError"></div>
                          </div>

                          <br>

                          <br>



                          <div class="bg-light">
                            <h3>Media</h3>


                            <div class="form-group my-2">
                              <label for="image1">Image 1:</label>
                              <input type="file" name="image1" class="form-control imageInput" id="imageInput"
                                accept="image/*" />
                                <img src="" alt="Image 1" class="img-fluid imagePreview" style="max-height: 50px;width: auto; display: none;">
                            </div>
                            <div id="fileError"></div>


                            <div class="form-group my-2">
                              <label for="image2">Image 2:</label>
                              <input type="file" name="image2" class="form-control imageInput" id="image2"
                                accept="image/*" />
                                <img src="" alt="Image 2" class="img-fluid imagePreview" style="max-height: 50px;width: auto; display: none;">
                            </div>


                            <div class="form-group my-2">
                              <label for="image3">Image 3:</label>
                              <input type="file" name="image3" class="form-control imageInput" id="image3"
                                accept="image/*" />
                                <img src="" alt="Image 3" class="img-fluid imagePreview" style="max-height: 50px;width: auto; display: none;">
                            </div>
                          </div>


                          <div class="">
                            <h2>Pricing</h2>
                            <div class="form-group">
                              <label for="basePrice">Base Price:</label>
                              <input type="number" name="Price" class="form-control bg-light" id="basePrice"
                                placeholder="Enter base price" />
                              <div id="priceError"></div>
                            </div>

                            <br>
                            

                          </div>


                          <div class="">
                            <h2>Stock</h2>

                            <div class="form-group">
                              <label for="quantity">Quantity:</label>
                              <input type="number" name="AvailableQuantity" class="form-control bg-light" id="quantity"
                                placeholder="Enter quantity" />
                              <div id="stockError"></div>
                            </div>

                          </div>
                </div>

                <div class="col-md-4 my-5 py-3">
                  <div class="bg-light text-light p-3 rounded border">
                    <div class="form-group">
                      <br>
                      <label for="category">Category:</label>
                      <select class="form-select bg-light" id="category" name="Category" id="productCategory">
                        <option value="" selected disabled>Select a category</option>
                        <% categories.forEach(function(category) { %>
                          <option value="<%=category.categoryName %>">
                            <%=category.categoryName%>
                          </option>
                          <% }); %>
                      </select>
                      <div id="categoryError"></div>
                    </div>

                    <br>
                    <div class="form-group">
                      <br>
                      <label for="brandName">Brand Name:</label>
                      <select name="BrandName" class="form-select bg-light" id="brand">
                        <option value="" selected disabled>Select a Brand</option>
                        <% brands.forEach(function(brand) { %>
                          <option value="<%=brand.brandName%>">
                            <%=brand.brandName%>
                          </option>
                          <% }); %>
                      </select>
                      <div id="BrandError"></div>
                    </div>

                    <br>
                    <div class="d-flex justify-content-end">
                      <button type="submit" id="addproduct" class="btn btn-primary mt-3 mb-0">Add Product</button>
                    </div>
                  </div>
                </div>
                </form>
              </div>
            </main>
          </div>
        </div>

       
        <script>
          function formSubmitted(event) {
    event.preventDefault(); // Prevent default form submission

    // Get form data
    const form = document.getElementById('myForm');
    const formData = new FormData(form);


    // validation
    var imageInputs = document.querySelectorAll('.imageInput');
            var productNameInput = document.getElementById('productName');
            var productCategoryInput = document.getElementById('category');
            var productPriceInput = document.getElementById('basePrice');
            var productStockInput = document.getElementById('quantity');
            var productDiscountAmountInput = document.getElementById('discountAmount');
            var productDescriptionInput = document.getElementById('productDescription');
            var productBrandInput = document.getElementById('brand');

            // console.log(productNameInput.value, 'productNameInput');
            console.log(productCategoryInput, 'productCategoryInput');
            console.log(productPriceInput, 'productPriceInput');
            console.log(productStockInput, 'productStockInput');
            console.log(productDiscountAmountInput, 'productDiscountAmountInput');
            console.log(productDescriptionInput, 'productDescriptionInput');
            console.log(productBrandInput, 'productBrandInput');

        
            var nameError = document.getElementById('nameError');
            var categoryError = document.getElementById('categoryError');
            var priceError = document.getElementById('priceError');
            var stockError = document.getElementById('stockError');
            var discountAmountError = document.getElementById('DiscountAmountError');
            var descriptionError = document.getElementById('DescriptionError');
            var brandError = document.getElementById('BrandError');
            var fileError = document.getElementById('fileError');
            let isValid = []; // Store boolean values indicating input validity
            // Name 
            if (productNameInput.value.trim() === '') {
              nameError.textContent = 'Please enter a name.';
              nameError.style.display = 'block';
              nameError.style.color = 'red';
              isValid.push(false); // Push boolean value indicating invalid input
            } else {
              nameError.textContent = '';
              nameError.style.display = 'none';
              isValid.push(true); // Push boolean value indicating valid input
            }
        
        
            // Description
            if (productDescriptionInput.value.trim() === '') {
              descriptionError.textContent = 'Please enter a description.';
              descriptionError.style.display = 'block';
              descriptionError.style.color = 'red';
              isValid.push(false);
            } else {
              descriptionError.textContent = '';
              descriptionError.style.display = 'none';
              isValid.push(true);
            }
        
            // Category
            if (productCategoryInput.value.trim() === '') {
              categoryError.textContent = 'Please enter a category.';
              categoryError.style.display = 'block';
              categoryError.style.color = 'red';
              isValid.push(false);
            } else {
              categoryError.textContent = '';
              categoryError.style.display = 'none';
              isValid.push(true);
            }
        
            // Brand
            if (productBrandInput.value.trim() === '') {
              brandError.textContent = 'Please enter a brand.';
              brandError.style.display = 'block';
              brandError.style.color = 'red';
              isValid.push(false);
            } else {
              brandError.textContent = '';
              brandError.style.display = 'none';
              isValid.push(true);
            }
        
            // Price
            var priceValue = parseFloat(productPriceInput.value);
            if (isNaN(priceValue) || priceValue <= 0) {
              priceError.textContent = 'Please enter a valid positive price.';
              priceError.style.color = 'red';
              priceError.style.display = 'block';
              isValid.push(false);
            } else {
              priceError.textContent = '';
              priceError.style.display = 'none';
              isValid.push(true);
            }
        
            // Stock
            var stockValue = parseFloat(productStockInput.value);
            if (isNaN(stockValue) || stockValue <= 0) {
              stockError.textContent = 'Please enter a valid positive number.';
              stockError.style.color = 'red';
              stockError.style.display = 'block';
              isValid.push(false);
            } else {
              stockError.textContent = '';
              stockError.style.display = 'none';
              isValid.push(true);
            }
        
        for(let i = 0; i < isValid.length; i++){
        if(isValid[i] === false){
        return
        }
        }
    fetch('/admin/addproduct', {
      method: 'POST',
      body: formData,
    })
      .then(response => {
        // Handle response
        if (response.ok) {
          // If the response is OK, do something (e.g., show success message)
          console.log('Product added successfully');
          window.location.href = '/admin/adminproduct'
          // You can redirect or display a success message here
        } else {
          // If the response is not OK, handle errors
          console.error('Failed to add product');
          // You can display an error message here
        }
      })
      .catch(error => {
        console.error('Error:', error);
        // Handle any errors that occurred during the fetch
        // You can display an error message here
      });
  }

  // Attach event listener to the form submit event
  const form = document.getElementById('myForm');
  form.addEventListener('submit', formSubmitted);


  // Function to handle image preview
  const imageInput = document.querySelectorAll('.imageInput');
  const imagePreview = document.querySelectorAll('.imagePreview');

  imageInput.forEach((input, index) => {
    input.addEventListener('change', function () {
      const file = input.files[0];

      if (file) {
        const reader = new FileReader();

        reader.onload = function (e) {
          imagePreview[index].src = e.target.result;
          imagePreview[index].style.display = 'block';
        };

        reader.readAsDataURL(file);
      } else {
        imagePreview[index].src = '';
        imagePreview[index].style.display = 'none';
      }
    });
  });

  </script>
        

        <%- include('footer')-%>