<%- include('header')-%>
<div class="container-fluid">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col col-md-2">
<!-- Sidebar -->
<div class="sidebar">
    <a href="/admin/admindashboard">  <i class="fa fa-home" style="margin-right: 10px;"></i>Dashboard</a>
    <a href="/admin/adminproduct"><i class="fa fa-product-hunt" style="margin-right: 10px;" aria-hidden="true"></i>Products</a>
    <a href="/admin/category"><i class="fa fa-list" style="margin-right: 10px;" aria-hidden="true"></i>Category</a>
   
    <a href="/admin/customers"><i class="fa fa-users" style="margin-right: 10px;" aria-hidden="true"></i>Customers</a>
    <a href="/admin/brand"><i class="fa fa-users" style="margin-right: 10px;" aria-hidden="true"></i>Brand</a>
    <a href="/admin/order"><i class="fa fa-bars" style="margin-right: 10px;" aria-hidden="true"></i>Orders</a>
    <a href="/admin/coupon"><i class="fa fa-bars" style="margin-right: 10px;" aria-hidden="true"></i>Coupons</a>
    <a href="/admin/banner"><i class="fa fa-bars" style="margin-right: 10px;" aria-hidden="true"></i>Banners</a>
   
    <a href="/admin/sales"><i class="fa fa-line-chart" style="margin-right: 10px;" aria-hidden="true"></i>Sales</a>
    <a href="admin/adminlogin"><i class="fa fa-sign-out" style="margin-right: 10px;" aria-hidden="true"></i>Logout</a>
  </div> 


        </div>

      <div class="col col-md-10">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center p-2">
               
                
                <a href="/admin/addProduct">
                    <button class="btn btn-primary" id="addProduct">ADD Product</button>
                </a>
            </div>
    
            <table class="table table-bordered table-hover mt-3 bg-light shadow-lg">
                <thead class="table-bordered  shadow-lg">
                    <tr>
                        <th>Serial No</th>
                        <th>Product Name</th>
                        
                        <th>Brand Name</th>
                        <th>Category</th>
                        <th>Image</th>
                        <th>Price</th>
                      
                        <th>Available Quantity</th>
                        <th>Edit</th>
                        <th>Action</th>
                    </tr>
                </thead>
               
                        <% products.forEach((product, index)=> { %>
                            <% if (product.Display==='Active' ) { %>
                                <tbody>
                                <% } else if (product.Display==='Inactive' ) { %>
                    <tbody class="table-light">
                        <% } %>
                            <tr>
                                <td>
                                    <%= (currentPage - 1) * perPage + index + 1 %>
                                </td>
                                <td><a href="/admin/viewproductdetails/<%=product._id%>" class="text-secondary">
                                        <%= product.ProductName %>
                                    </a></td>
                                    
                                    <td>
                                        <%= product.BrandName ? product.BrandName.brandName : '' %>
                                      </td>
                                      <td>
                                        <%= product.Category ? product.Category.categoryName : '' %>
                                      </td>
                                <td>
                                    <img src="/uploads/<%= product.images [0] %>" alt="Product Image"
                                        style="max-width: 100px; height: auto;">
                                </td>
                                <td class="text-secondary">
                                        <%= product.Price %>
                                    </td>
                               
                                <td>
                                    <%= product.AvailableQuantity %>
                                </td>
                                <td>
                                    <a href="/admin/editproduct/<%= product._id %>" class="btn btn-warning">
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <% if (product.isBlocked) { %>
                                        <form action="/admin/unblockproduct/<%= product._id %>" method="post">
                                            <button class="btn btn-danger" onclick="unblockproduct('<%= product._id %>')">Unblock</button>
                                        </form>
                                    <% } else { %>
                                        <form action="/admin/blockproduct/<%= product._id %>" method="post">
                                            <button class="btn btn-success" onclick="blockproduct('<%= product._id %>')">Block</button>
                                        </form>
                                    <% } %>

                                    
                                </td>
                                
                        </tr>
                        <% }); %>
                </tbody>
            </table>


            <ul class="pagination justify-content-center">
                <% if (currentPage > 1) { %>
                    <li class="page-item"><a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a></li>
                <% } %>
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
                <% if (currentPage < totalPages) { %>
                    <li class="page-item"><a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a></li>
                <% } %>
            </ul>
         


        </div>
    </div>
        </div>



<script>
  function blockproduct(productId) {
    
      console.log('Block product with id:', productId);
  }

  function unblockproduct(productId) {
      
      console.log('Unblock product with id:',productId );
  }


</script>
 



  
<%- include('footer')-%> 