<%- include('header')-%>

<style>
.box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.box h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.box ul {
  list-style: none;
  padding: 0;
}

.box li {
  margin-bottom: 5px;
  font-size: 16px;
}
</style>

    <!-- The sidebar -->
<div class="sidebar">
  <a href="/admin/admindashboard">  <i class="fa fa-home" style="margin-right: 10px;"></i>Dashboard</a>
  <a href="/admin/adminproduct"><i class="fa fa-product-hunt" style="margin-right: 10px;" aria-hidden="true"></i>Products</a>
  <a href="/admin/category"><i class="fa fa-list" style="margin-right: 10px;" aria-hidden="true"></i>Category</a>

  <a href="/admin/customers"><i class="fa fa-users" style="margin-right: 10px;" aria-hidden="true"></i>Customers</a>
  <a href="/admin/brand"><i class="fa fa-users" style="margin-right: 10px;" aria-hidden="true"></i>Brand</a>
  <a href="/admin/order"><i class="fa fa-bars" style="margin-right: 10px;" aria-hidden="true"></i>Orders</a>
  <a href="/admin/coupon"><i class="fa fa-bars" style="margin-right: 10px;" aria-hidden="true"></i>Coupons</a>
  
   <a href="/admin/categoryoffer">
      <i class="fa fa-percent" style="margin-right: 10px;" aria-hidden="true"></i> Category Offers
    </a>
  <a href="/admin/banner"><i class="fa fa-bars" style="margin-right: 10px;" aria-hidden="true"></i>Banners</a>
 
  <a href="/admin/sales"><i class="fa fa-line-chart" style="margin-right: 10px;" aria-hidden="true"></i>Sales</a>
  <a href="/admin/logout"><i class="fa fa-sign-out" style="margin-right: 10px;" aria-hidden="true"></i>Logout</a>
</div>



<div class="content">
  <div class="box">
    <h3>Customers</h3>
    <p>Total Customers: <%= totalCustomers %></p>
   
  </div>

  <div class="box">
    <h3>products</h3>
    <p>Total Products: <%= totalProducts %></p>
    
  </div>

  <div class="box">
    <h3>Orders</h3>
    <p>Total Orders: <%= totalOrders %></p>
 
  </div>


  
</div>

    <div class="row">
        <div class="col-lg-6 text-center">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#salesReportModal" >generate PDF</button>
      </div>
    </div>



  <!-- Sales Report Modal -->
<div class="modal" id="salesReportModal" tabindex="-1" role="dialog" aria-labelledby="salesReportModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="salesReportModalLabel">Sales Report</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="salesReport" method="post" action="/admin/download-sales-report">
            <div class="form-group">
              <label for="startDate">Start Date:</label>
              <input type="date" name="startDate" class="form-control" id="startDate" required>
            </div>
            <div class="form-group">
              <label for="endDate">End Date:</label>
              <input type="date" name="endDate" class="form-control" id="endDate" required>
            </div>
            <div class="form-group">
              <label>File Format:</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="fileFormat" id="pdf" value="pdf" checked>
                <label class="form-check-label" for="pdf">PDF</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="fileFormat" id="excel" value="excel">
               
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Download</button>
        </div>
        </form>
      </div>
    </div>
  </div>

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12">
        <div class="card mb-4" style="background: linear-gradient(to right, rgba(255,0,0,0), rgb(229, 255, 251));">
          <h2 class="card-header">Sales Analysis</h2>
          <div class="card-body">
            <div class="row">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="timeIntervalDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                      By Day
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="timeIntervalDropdown">
                      <li><a class="dropdown-item" id="byDayOption">By Day</a></li>
                      <li><a class="dropdown-item" id="byMonthOption">By Month</a></li>
                      <li><a class="dropdown-item" id="byYearOption">By Year</a></li>
                    </ul>
                  </div>
              <div class="col-lg-6">
                <canvas id="salesGraphAmount"></canvas>
              </div>
              <div class="col-lg-6">
                <canvas id="salesGraphCount"></canvas>
              </div>
            </div>
          </div>
        </div>

        
      </div>

      

      </div>
      
      <div class="col-lg-6">
        <div class="box">
            <h2>Best Selling Products</h2>
            <ul id="bestSellingProductsList">
                <% topProducts.forEach(product => { %>
                    <li><%= product.productDetails.ProductName %> - <%= product.totalQuantitySold %> sold</li>
                <% }); %>
            </ul>
        </div>
    </div>

    <div class="col-lg-6">
      <!-- Top Selling Categories -->
      <div class="box">
          <h2>Top Selling Categories</h2>
          <ul id="topSellingCategoriesList">
              <% topCategories.forEach(category => { %>
                  <li><%= category._id %> - <%= category.totalQuantitySold %> sold</li>
              <% }); %>
          </ul>
      </div>
  </div>


  <div class="col-lg-6">
    <!-- Top Selling Brands -->
    <div class="box">
        <h2>Top Selling Brands</h2>
        <ul id="topSellingBrandsList">
            <% topBrands.forEach(brand => { %>
                <li><%= brand._id %> - <%= brand.totalQuantitySold %> sold</li>
            <% }); %>
        </ul>
    </div>
</div>

  
  

      </div>

      </div>





   
  </header>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
        updateSalesGraph("day");
document.getElementById("byDayOption").addEventListener("click", function() {
    document.getElementById("timeIntervalDropdown").textContent = "By Day";
    updateSalesGraph("day");
});

document.getElementById("byMonthOption").addEventListener("click", function() {
    document.getElementById("timeIntervalDropdown").textContent = "By Month";
    updateSalesGraph("month");
});

document.getElementById("byYearOption").addEventListener("click", function() {
    document.getElementById("timeIntervalDropdown").textContent = "By Year";
    updateSalesGraph("year");
});



async function fetchSalesData(timeInterval) {
    try {
        let response;
        if (timeInterval === "day") {
            console.log("daysss");
            response = await fetch("/admin/count-orders-by-day");
        } else if (timeInterval === "month") {
            console.log("monthsss");
            response = await fetch("/admin/count-orders-by-month");
        } else if (timeInterval === "year") {
            console.log("yearssss");
            response = await fetch("/admin/count-orders-by-year");
        } else {
            return false;
        }

        console.log("its response", response);

        if (!response.ok) {
            throw new Error("Network response was not ok");
        }

        const data = await response.json();
        return data;
    } catch (error) {
        console.error("Error fetching data:", error);
    }
}





async function updateSalesGraph(timeInterval) {
    const salesData = await fetchSalesData(timeInterval);
    console.log(salesData, "hereee");

    // Get the canvas element
    const Amount = document.getElementById("salesGraphAmount").getContext("2d");
    const Count = document.getElementById("salesGraphCount").getContext("2d");

    // If a chart already exists, destroy it
    if (window.myChart1) {
        window.myChart1.destroy();
    }
    if (window.myChart2) {
        window.myChart2.destroy();
    }
    const barColors = ["red", "green","blue","orange","brown"]

    window.myChart1 = new Chart(Amount, {
        type: "bar",
        data: {
            labels: salesData.labelsByCount,
            datasets: [
                {
                    label: "Sales",
                    data: salesData.dataByCount,
                    backgroundColor: "green",
                    borderColor: "rgba(0, 0, 0, 0)",
                    borderWidth: 3,
                },
            ],
        },
        options: {
            scales: {
                x: [{
                    grid: {
                        display: true
                    }
                }],
                y: [{
                    beginAtZero: true,
                    maxTicksLimit: 5
                }]
            }
        },
    });
    window.myChart2 = new Chart(Count, {
        type: "bar",
        data: {
            labels: salesData.labelsByAmount,
            datasets: [
                {
                    label: "Sales",
                    data: salesData.dataByAmount,
                    backgroundColor: "blue",
                    borderColor: "rgba(0, 0, 0, 0)",
                    borderWidth: 3,
                },
            ],
        },
        options: {
            scales: {
                x: [{
                    grid: {
                        display: true
                    }
                }],
                y: [{
                    beginAtZero: true,
                    maxTicksLimit: 5
                }]
            }
        },
    });
}
  </script>

  <%- include('footer')-%> 