<%- include('header')-%>

<!-- Sidebar -->
<div class="col-md-3 col-lg-2 sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="/admin/admindashboard">
        <i class="fa fa-home"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/adminproduct">
        <i class="fa fa-product-hunt"></i> Products
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/category">
        <i class="fa fa-list"></i> Category
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/customers">
        <i class="fa fa-users"></i> Customers
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/brand">
        <i class="fa fa-users"></i> Brand
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/order">
        <i class="fa fa-bars"></i> Orders
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/coupon">
        <i class="fa fa-bars"></i> Coupons
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/banner">
          <i class="fa fa-bars"></i> Banners
        </a>
      </li>
   
    <li class="nav-item">
      <a class="nav-link" href="/admin/sales">
        <i class="fa fa-line-chart"></i> Sales
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/logout">
        <i class="fa fa-sign-out"></i> Logout
      </a>
    </li>
   
  </ul>
</div>




<div class="col-md-9 col-lg-10 offset-md-3 offset-lg-2">

    <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#addBannerModal">
        <i class="fa fa-plus"></i> Add Banner
    </button>

 
    <div class="modal fade" id="addBannerModal" tabindex="-1" aria-labelledby="addBannerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBannerModalLabel">Add Banner</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   
                    <div class="mb-3">
                        <label for="categorySelect" class="form-label">Select Category:</label>
                        <select class="form-select" id="categorySelect">
                            <% categories.forEach(category => { %>
                                <option value="<%= category._id %>"><%= category.categoryName %></option>
                            <% }); %>
                        </select>
                    </div>
                  
                    <div class="mb-3">
                        <input type="file" name="image" id="bannerInput" accept="image/*" style="display: none">
                        <button type="button" class="btn btn-primary" onclick="chooseFile()">
                            Upload Banner
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="uploadBanner()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

   
    <div id="bannerContainer" style="margin-top: 50px;">
        <% banners.forEach(banner => { %>
            <div class="banner-item" data-banner-id="<%= banner._id %>" style="margin-bottom: 50px;">
              
                <img src="<%= banner.image %>" alt="Banner Image" class="banner-image" style="width: 400px; height: 250px;">
                <button onclick="editBanner('<%= banner._id %>')" class="btn btn-primary"   data-bs-toggle="modal"   data-bs-target="#editBannerModal<%= banner._id %>">Edit</button>
                <button onclick="deleteBanner('<%= banner._id %>')" class="btn btn-danger">Delete</button>
            </div>
        <% }); %>
    </div>
  </div>





  <!-- Edit Banner Modal -->
  <% banners.forEach(banner => { %>
<div class="modal fade" id="editBannerModal<%= banner._id %>" tabindex="-1" aria-labelledby="editBannerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="editBannerModalLabel">Edit Banner</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
              <form id="editBannerForm">
                  <div class="mb-3">
                      <label for="categorySelect" class="form-label">Select Category:</label>
                      <select class="form-select" id="editCategorySelect">
                          
                          
                          <% categories.forEach(function (category) { %>
                            <option value="<%= category._id %>" <%= banner.category.equals(category._id) ? 'selected' : '' %>>
                              <%= category.categoryName %>
                            </option>
                          <% }); %>


                          
                      </select>
                  </div>
                  <div class="mb-3">
                    <input type="file" name="image" id="editBannerInput" accept="image/*" style="display: none">
                    <button type="button" class="btn btn-primary" onclick="updateFile()">
                        Upload Ban
                    </button>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="updateBanner('<%= banner._id %>')">Save </button>
          </div>
      </div>
  </div>
</div>
        <% }); %>




    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      function chooseFile() {
          document.getElementById('bannerInput').click();
      }

      function updateFile() {
          document.getElementById('editBannerInput').click();
      }
  
      document.getElementById('bannerInput').addEventListener('change', function () {
         
          uploadBanner();
      });
  
      async function uploadBanner() {
          const category = document.getElementById('categorySelect').value;
          const fileInput = document.getElementById('bannerInput');
          const file = fileInput.files[0];
          console.log('--------------->',file);
          if (!file) {
              return alert('Please select a file');
          }
  
          const formData = new FormData();
          formData.append('image', file);
          formData.append('category', category);
  
          try {
              const response = await fetch('/admin/addBanner', {
                  method: 'POST',
                  body: formData,
              });
              const data = await response.json();
             
              if (data.success) {
              
                 
                  const bannerContainer = document.getElementById('bannerContainer');
                  const bannerItem = document.createElement('div');
                  bannerItem.classList.add('banner-item');
                  bannerItem.setAttribute('data-banner-id', data.banner._id);
                  bannerItem.innerHTML = `
                      <img src="${data.banner.image}" alt="Banner Image" class="banner-image" style="width: 400px; height: 250px;">
                      <button onclick="deleteBanner('${data.banner._id}')" class="btn btn-danger">Delete</button>
                  `;
                  bannerContainer.appendChild(bannerItem);
  
                 
                  $('#addBannerModal').modal('hide');
                  
                 
              } else {
                  alert('Error uploading banner');
              }
          } catch (error) {
              console.error('Error uploading banner:', error);
              alert('Error uploading banner');
          }
      }
  
      function deleteBanner(bannerId) {
   
    Swal.fire({
      title: 'Are you sure?',
      text: 'Once deleted, you will not be able to recover this banner!',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#3085d6',
      confirmButtonText: 'Yes, delete it!',
    }).then((result) => {
      if (result.isConfirmed) {
       
        fetch(`/admin/deleteBanner/${bannerId}`, {
          method: 'DELETE',
        })
        .then(response => {
          if (response.ok) {
         
            const bannerItem = document.querySelector(`.banner-item[data-banner-id="${bannerId}"]`);
            bannerItem.remove();
        
            Swal.fire('Deleted!', 'Your banner has been deleted.', 'success');
          } else {
            throw new Error('Failed to delete banner');
          }
        })
        .catch(error => {
          console.error('Error:', error);
       
          Swal.fire('Error!', 'Failed to delete banner.', 'error');
        });
      }
    });
  }
  </script>


<script>
  
  function editBanner(bannerId) {
        fetch(`/admin/getBannerDetails/${bannerId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                document.getElementById('editCategorySelect').value = data.banner.category;
              
                const modal = new bootstrap.Modal(document.getElementById('editBannerModal'));
                modal.show();
            })
            .catch(error => {
                console.error('Error fetching banner details:', error);
            });
    }

  function updateBanner(bannerId) {
    const category = document.getElementById('editCategorySelect').value;
    const fileInput = document.getElementById('editBannerInput');
    console.log(fileInput,'fileInput---')
    const file = fileInput.files[0];
    console.log(file,'file---')
   
    const formData = new FormData();
    if(file) {
      formData.append('image', file);
    }
    formData.append('category', category);


    fetch(`/admin/updateBanner/${bannerId}`, {
        method: 'post',
        body: formData,
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        if (data.success) {
            
            location.reload()
        } else {
            alert('Error updating banner');
        }
    })
    .catch(error => {
        console.error('Error updating banner:', error);
        alert('Error updating banner');
    });
}

</script>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  