<%- include('header')-%>

<!-- Sidebar -->
<div class="col-md-3 col-lg-2 sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/admin/admindashboard">
                <i class="fa fa-home"></i> Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/adminproduct">
                <i class="fa fa-product-hunt"></i> Products
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/category">
                <i class="fa fa-list"></i> Category
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/customers">
                <i class="fa fa-users"></i> Customers
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/brand">
                <i class="fa fa-users"></i> Brand
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/order">
                <i class="fa fa-bars"></i> Orders
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/coupon">
                <i class="fa fa-bars"></i> Coupons
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/admin/categoryoffer">
              <i class="fa fa-percent"></i> Category Offers
            </a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/banner">
                <i class="fa fa-bars"></i> Banners
            </a>
        </li>
       
        <li class="nav-item">
            <a class="nav-link" href="/admin/sales">
                <i class="fa fa-line-chart"></i> Sales
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/logout">
                <i class="fa fa-sign-out"></i> Logout
            </a>
        </li>
        </ul>
        </div>
        
   


<div class="container mt-5 ml-3">

    
     <div class="mb-3">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCouponModal">
            <i class="fa fa-plus"></i> Add Coupon
        </button>
    </div>
  
    <div class="modal fade" id="addCouponModal" tabindex="-1" aria-labelledby="addCouponModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCouponModalLabel">Add Coupon</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   
                    <form action="/admin/addcoupon" method="POST">
                       
                        <div class="mb-3">
                            <label for="couponName" class="form-label">Coupon Name</label>
                            <input type="text" class="form-control" id="couponName" name="couponName" required>
                            <div id="couponNameError" class="invalid-feedback error-message" style="color: red;">
                                <p class="text-danger" id="err1"></p>
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="couponCode" class="form-label">Coupon Code</label>
                            <input type="text" class="form-control" id="couponCode" name="couponCode" required>
                            <div id="couponCodeError" class="invalid-feedback error-message" style="color: red;">
                                <p class="text-danger" id="err"></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="discountPercentage" class="form-label">Discount Percentage</label>
                            <input type="number" class="form-control" id="discountPercentage" name="discountPercentage" min="0" max="100" required>
                        </div>
                        <div class="mb-3">
                            <label for="maximumDiscountAmount" class="form-label">Maximum Discount Amount</label>
                            <input type="number" class="form-control" id="maximumDiscountAmount" name="maximumDiscountAmount" min="0"  required>
                        </div>
                        <div class="mb-3">
                            <label for="minimumPurchaseAmount" class="form-label">Minimum Purchase Amount</label>
                            <input type="number" class="form-control" id="minimumPurchaseAmount" name="minimumPurchaseAmount" min="0"  required>
                        </div>
                        <div class="mb-3">
                            <label for="startDate" class="form-label">Start Date</label>
                            <input type="date" class="form-control" id="startDate" name="startDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="expirationDate" class="form-label">Expiration Date</label>
                            <input type="date" class="form-control" id="expirationDate" name="expirationDate" required>
                        </div>
                       
                        <button type="submit" class="btn btn-primary" onclick="return validateCouponForm()">Add Coupon</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <% coupons.forEach(coupon => { %>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= coupon.couponName %></h5>
                    <p class="card-text">Coupon Code: <%= coupon.couponCode %></p>
                    <p class="card-text">Discount: <%= coupon.discountPercentage %>%</p>
                    <p class="card-text">Maximum Discount Amount: <%= coupon.maximumDiscountAmount %></p>
                    <p class="card-text">Minimum Purchase Amount: <%= coupon.minimumPurchaseAmount %></p>
                    <p class="card-text">Start Date: <%= coupon.startDate.toLocaleDateString() %></p>
                    <p class="card-text">Expiration Date: <%= coupon.expirationDate.toLocaleDateString() %></p>
                
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal<%=coupon._id %>">Edit</a>
                    <button class="btn btn-danger delete-btn" data-coupon-id="<%= coupon._id %>">Delete</button>
                </div>
            </div>
        </div>
        
       
<div class="modal fade" id="exampleModal<%=coupon._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Coupon</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              
                <form action="/admin/editcoupon/<%= coupon._id %>" method="POST" onsubmit="return validateEditCouponForm('<%= coupon._id %>')">
                    <div class="form-group">
                        <label for="couponName<%=coupon._id %>">Coupon Name</label>
                        <input type="text" class="form-control" id="couponName<%=coupon._id %>" name="couponName" value="<%= coupon.couponName %>" required>
                       
                    </div>
                
                    <div class="mb-3">
                        <label for="couponCode<%=coupon._id %>" class="form-label">Coupon Code</label>
                        <input type="text" class="form-control" id="couponCode<%=coupon._id %>" name="couponCode" value="<%= coupon.couponCode %>" required>
                        
                    </div>
                    <div class="mb-3">
                        <label for="discountPercentage<%=coupon._id %>" class="form-label">Discount Percentage</label>
                        <input type="number" class="form-control" id="discountPercentage<%=coupon._id %>" name="discountPercentage" min="0" max="100" value="<%= coupon.discountPercentage %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="maximumDiscountAmount<%=coupon._id %>" class="form-label">Maximum Discount Amount</label>
                        <input type="number" class="form-control" id="maximumDiscountAmount<%=coupon._id %>" name="maximumDiscountAmount" min="0"  value="<%= coupon.maximumDiscountAmount %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="minimumPurchaseAmount<%=coupon._id %>" class="form-label">Minimum Purchase Amount</label>
                        <input type="number" class="form-control" id="minimumPurchaseAmount<%=coupon._id %>" name="minimumPurchaseAmount" min="0"  value="<%= coupon.minimumPurchaseAmount %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="startDate<%=coupon._id %>" class="form-label">Start Date</label>
                        <input type="date" class="form-control" id="startDate<%=coupon._id %>" name="startDate" value="<%= coupon.startDate.toISOString().slice(0, 10) %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="expirationDate<%=coupon._id %>" class="form-label">Expiration Date</label>
                        <input type="date" class="form-control" id="expirationDate<%=coupon._id %>" name="expirationDate" value="<%= coupon.expirationDate.toISOString().slice(0, 10) %>" required>

                    </div>
               
                   
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

    <% }) %>
</div>






    
</div>

<%- include('footer')-%>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<script>
    document.addEventListener('DOMContentLoaded', function() {
       
        const deleteButtons = document.querySelectorAll('.delete-btn');
        deleteButtons.forEach(button => {
            button.addEventListener('click', function() {
                const couponId = button.getAttribute('data-coupon-id');
                
                
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'Once deleted, you will not be able to recover this coupon!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        
                        fetch(`/admin/deletecoupon/${couponId}`, {
                            method: 'DELETE'
                        })
                        .then(response => {
                            if (response.ok) {
                               
                                window.location.reload();
                                button.closest('.card').remove();
                            } else {
                               
                                console.error('Failed to delete coupon');
                            }
                        })
                        .catch(error => {
                            console.error('Error deleting coupon:', error);
                        });
                    }
                });
            });
        });
    });
</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
   
    function validateCouponForm() {
        const couponName = document.getElementById('couponName').value.trim();
        const couponCode = document.getElementById('couponCode').value.trim();
        const startDate = document.getElementById('startDate').value.trim();
        const expirationDate = document.getElementById('expirationDate').value.trim();
        const maximumDiscountAmount = parseFloat(document.getElementById('maximumDiscountAmount').value.trim());
        const minimumPurchaseAmount = parseFloat(document.getElementById('minimumPurchaseAmount').value.trim());

        let isValid = true;

       
        if (couponName === '') {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Coupon name cannot be empty!'
            });
            isValid = false;
            console.log('Coupon name is empty');
        }

       
        if (couponCode === '') {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Coupon code cannot be empty!'
            });
            isValid = false;
            console.log('Coupon code is empty');
        }

       
        const startDateObj = new Date(startDate);
        const expirationDateObj = new Date(expirationDate);

        if (startDateObj >= expirationDateObj) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Start date must be before expiration date!'
            });
            isValid = false;
            console.log('Start date must be before expiration date');
        }

        if (maximumDiscountAmount > minimumPurchaseAmount) {
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Maximum Discount Amount cannot be greater than Minimum Purchase Amount!'
        });
        isValid = false;
        console.log('Maximum Discount Amount cannot be greater than Minimum Purchase Amount');
    }


        return isValid;
    }

    
    document.addEventListener('DOMContentLoaded', function() {
        const addCouponModal = document.getElementById('addCouponModal');
        const addCouponForm = addCouponModal.querySelector('form');

        addCouponForm.addEventListener('submit', function(event) {
            if (!validateCouponForm()) {
                event.preventDefault();
            }
        });
    });



    function validateEditCouponForm(couponId) {
        const couponName = document.getElementById(`couponName${couponId}`).value.trim();
        const couponCode = document.getElementById(`couponCode${couponId}`).value.trim();
        const startDate = document.getElementById(`startDate${couponId}`).value.trim();
        const expirationDate = document.getElementById(`expirationDate${couponId}`).value.trim();
        const maximumDiscountAmount = parseFloat(document.getElementById(`maximumDiscountAmount${couponId}`).value.trim());
        const minimumPurchaseAmount = parseFloat(document.getElementById(`minimumPurchaseAmount${couponId}`).value.trim());

        let isValid = true;

        if (couponName === '') {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Coupon name cannot be empty!'
            });
            isValid = false;
            console.log('Coupon name is empty');
        }

        if (couponCode === '') {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Coupon code cannot be empty!'
            });
            isValid = false;
            console.log('Coupon code is empty');
        }

        const startDateObj = new Date(startDate);
        const expirationDateObj = new Date(expirationDate);

        if (startDateObj >= expirationDateObj) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Start date must be before expiration date!'
            });
            isValid = false;
            console.log('Start date must be before expiration date');
        }

        if (maximumDiscountAmount > minimumPurchaseAmount) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Maximum Discount Amount cannot be greater than Minimum Purchase Amount!'
            });
            isValid = false;
            console.log('Maximum Discount Amount cannot be greater than Minimum Purchase Amount');
        }

        return isValid;
    }


</script>

