<%- include('header')-%>
<%- include('sidebar') -%>

<style>
.admin-content-container {
  margin-left: 0;
}
@media (min-width: 992px) {
  .admin-content-container {
    margin-left: 230px;
  }
}
</style>


<div class="container mt-5 admin-content-container">
  <h2 class="mb-4">Edit Category</h2>

 
  <form action="/admin/editcategory/<%= editCategory._id %>" method="POST" >
    <div class="mb-3">
      <label for="categoryName" class="form-label">Name</label>
      <input type="text" class="form-control" id="categoryName" name="categoryName" value="<%= editCategory.categoryName %>" required>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>




<%- include('footer')-%>
