<%- include('header')-%>

<!-- Sidebar -->
<div class="col-md-3 col-lg-2 sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="/admin/admindashboard">
        <i class="fa fa-home"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/adminproduct">
        <i class="fa fa-product-hunt"></i> Products
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/category">
        <i class="fa fa-list"></i> Category
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/customers">
        <i class="fa fa-users"></i> Customers
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/brand">
        <i class="fa fa-users"></i> Brand
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/order">
        <i class="fa fa-bars"></i> Orders
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/coupon">
        <i class="fa fa-bars"></i> Coupons
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/banner">
        <i class="fa fa-bars"></i> Banners
      </a>
    </li>
   
    <li class="nav-item">
      <a class="nav-link" href="/admin/sales">
        <i class="fa fa-line-chart"></i> Sales
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/logout">
        <i class="fa fa-sign-out"></i> Logout
      </a>
    </li>
  </ul>
</div>

<!-- Main Content -->
<div class="container mt-5 ml-3">
   
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>Total Income</strong></h5>
                    <p class="card-text"><strong><%= totalIncome %></strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>Total Quantity Sold</strong></h5>
                    <p class="card-text"><strong><%= totalQuantitySold %></strong></p>
                </div>
            </div>
        </div>
    </div>

   
     <div class="row">
      <div class="col-md-12">
          <h2>Sales Report</h2>
         

        
          <table class="table">
              <thead>
                  <tr>
                      <th>Customer Name</th>
                      <th>Total Price</th>
                      <th>Order Status</th>
                      <th>Product Name</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Date</th>
                  </tr>
              </thead>
              <tbody>
               
                
                  <% orders.forEach(order => { %>
                      <% if (order.status === 'Delivered') { %>
                          <% order.products.forEach(product => { %>
                              <tr>
                                  <td><%= order.userId.name %></td> 
                                  <td><%= order.totalPrice %></td>
                                  <td><%= order.status %></td> 
                                  <td><%= product.productId.ProductName %></td> 
                                  <td><%= product.price %></td> 
                                  <td><%= product.quantity %></td> 
                                  <td><%= order.orderDate.toDateString() %></td> 
                              </tr>
                            
                          <% }) %>
                      <% } %>
                  <% }) %>
                 
              </tbody>
          </table>
      </div>
  </div>
</div>

<%- include('footer')-%>


