<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coupons</title>
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <style>
    .img-account-profile {
        max-width: 100%;
    }
    .text-highlight {
  
    color: #e91818; 
    font-weight: bold; 
  }
  </style>
</head>
<body>

 
  <div style="height: 75px;"></div>

  
  <%- include('../partials/navbar') %>

  
  <div class="container-fluid ">
    <div class="row">
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block  sidebar">
        <div class="position-sticky">
          <div style="margin-left: 50px; margin-top: 30px;">
            <a href="#" class="list-group-item list-group-item-action"><b>Manage My Account</b></a>
            <ul class="pl-4">
              <li><a href="/profile" class="list-group-item list-group-item-action" style="list-style: none;">Profile</a></li>
              <li><a href="/addressbook" class="list-group-item list-group-item-action">Address Book</a></li>
              <li><a href="/changepassword" class="list-group-item list-group-item-action">Change Password</a></li>
              <li><a href="/wallet" class="list-group-item list-group-item-action">Wallet</a></li>
              <li><a href="/coupon" class="list-group-item list-group-item-action">Coupons</a></li>
              <li><a href="/failedpayments" class="list-group-item list-group-item-action" style="list-style: none;">Failed Payment</a></li>
            </ul>
            <a href="/orders" class="list-group-item list-group-item-action"><b>Orders</b></a><br>
            <ul class="pl-4">
                <li><a href="/orders" class="list-group-item list-group-item-action" style="list-style: none;">My Orders</a></li>
                
               
              </ul>
            <a href="/cart" class="list-group-item list-group-item-action"><b>Cart</a></b><br>
            <a href="/wishlist" class="list-group-item list-group-item-action"><b>Wishlist</a></b><br>
            <a href="/logout" class="list-group-item list-group-item-action"><b>Logout</a></b><br>
          </div>
        </div>
      </nav>


   
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-5"> 
    <div class="row">
        <% if (coupons.length > 0) { %>
        <% coupons.forEach(coupon => { %>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= coupon.couponName %></h5>
                    <p class="card-text">Coupon Code: <span class="coupon-code"><%= coupon.couponCode %></span></p>
                    <p class="card-text">Discount Percentage: <span class="discount-percentage"><%= coupon.discountPercentage %>%</span></p>
                    <p class="card-text">Maximum Discount Amount: <span class="discount-percentage"><%= coupon.maximumDiscountAmount %></span></p>
                    <p class="card-text">Minimum Purchase Amount: <span class="discount-percentage"><%= coupon.minimumPurchaseAmount %></span></p>
                    <p class="card-text">Start Date: <span class="start-date"><%= coupon.startDate.toDateString() %></span></p>
                    <p class="card-text">Expiration Date: <span class="expiration-date"><%= coupon.expirationDate.toDateString() %></span></p>
                    <button class="btn btn-primary copy-coupon" data-code="<%= coupon.couponCode %>">Copy Code</button>
                    <p class="copy-message" style="display: none; color: green;">Coupon code copied successfully!</p>
                </div>
            </div>
        </div>
        <% }); %>
       <% } else { %>
            <div class="col-12">
              <p><strong>No coupons available</strong></p>
            </div> 
          <% } %>
    </div>
</div>


  <footer class="footer mt-auto py-3">
  <%- include('../partials/user-footer') %>
   </footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const copyButtons = document.querySelectorAll('.copy-coupon');
        copyButtons.forEach(button => {
            button.addEventListener('click', function() {
                const couponCode = this.getAttribute('data-code');
                copyToClipboard(couponCode);
                const copyMessage = this.parentElement.querySelector('.copy-message');
                copyMessage.style.display = 'block';
                setTimeout(function() {
                    copyMessage.style.display = 'none';
                }, 3000); 
            });
        });

        function copyToClipboard(text) {
            const input = document.createElement('input');
            input.value = text;
            document.body.appendChild(input);
            input.select();
            document.execCommand('copy');
            document.body.removeChild(input);
        }
    });
</script>

<script>

  const sidebarItems = document.querySelectorAll('.list-group-item');


  sidebarItems.forEach(item => {
      item.addEventListener('click', function() {
        
          sidebarItems.forEach(item => {
              item.classList.remove('text-highlight');
          });
        
          this.classList.add('text-highlight');
      });
  });

 
  const highlightedItem = localStorage.getItem('highlightedItem');
  if (highlightedItem) {
    
      sidebarItems.forEach(item => {
          item.classList.remove('text-highlight');
      });
    
      document.querySelector(`.list-group-item[href="${highlightedItem}"]`).classList.add('text-highlight');
  }

  
  sidebarItems.forEach(item => {
      item.addEventListener('click', function() {
          localStorage.setItem('highlightedItem', this.getAttribute('href'));
      });
  });
</script>



