<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Failed Payments</title>
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    main {
      flex-grow: 1;
    }

    footer {
      margin-top: auto;
    }
    .text-highlight {
  
    color: #e91818; 
    font-weight: bold;
  }
  </style>

</head>

<body>

  <div style="height: 75px;"></div>

  <%- include('../partials/navbar') %>
  <header>
    
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block  sidebar">
        <div class="position-sticky">
          <div style="margin-left: 50px; margin-top: 30px;">
            <a href="#" class="list-group-item list-group-item-action"><b>Manage My Account</b></a>
            <ul class="pl-4">
              <li><a href="/profile" class="list-group-item list-group-item-action"
                  style="list-style: none;">Profile</a></li>
              <li><a href="/addressbook" class="list-group-item list-group-item-action">Address Book</a></li>
              <li><a href="/changepassword" class="list-group-item list-group-item-action">Change Password</a></li>
              <li><a href="/wallet" class="list-group-item list-group-item-action">Wallet</a></li>
              <li><a href="/coupon" class="list-group-item list-group-item-action">Coupons</a></li>
              <li><a href="/failedpayments" class="list-group-item list-group-item-action" style="list-style: none;">Failed Payments</a></li>
            </ul>
            <a href="/orders" class="list-group-item list-group-item-action"><b>Orders</b></a><br>
            <ul class="pl-4">
              <li><a href="/orders" class="list-group-item list-group-item-action" style="list-style: none;">My
                  Orders</a></li>
                 
             

            </ul>
            <a href="/cart" class="list-group-item list-group-item-action"><b>Cart</a></b><br>
            <a href="/wishlist" class="list-group-item list-group-item-action"><b>Wishlist</a></b><br>
            <a href="/logout" class="list-group-item list-group-item-action"><b>Logout</a></b><br>
          </div>
        </div>
      </nav>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="col-md-9">
            <div class="osahan-account-page-right shadow bg-white p-4 h-100">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                        <h4 class="font-weight-bold mt-0 mb-4">Failed Payments</h4>
                        <% if (order.length > 0) { %>
                        <% order.forEach(orderItem => { %>
                            <div class="bg-white card mb-4 order-list shadow-sm">
                                <div class="gold-members p-4">
                                    <span class="float-end text-info">Ordered On: <%= orderItem?.orderDate?.toLocaleDateString() %> <i class="icofont-check-circled text-success"></i></span>
                                    <h6 class="mb-2">Products</h6>
                                    <% orderItem.products.forEach(product => { %>
                                        <div class="media mb-3">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img src="<%= product.productId.images[0] %>" style="height: 100px; width: 100px;">
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="media-body">
                                                        <p><%= product.productId.ProductName %></p>
                                                        <h6 class="mb-1">Quantity: <%= product.quantity %></h6>
                                                        <p class="text-dark">Total Price: ₹<%= orderItem.totalPrice %></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                    <p class="text-gray mb-3">Payment Method: <%= orderItem.paymentMethod %></p>
                                    <span class="badge rounded-pill bg-info"><%= orderItem.status %></span>
    
                                    <div class="float-end">
                                            <input type="hidden" name="orderId" value="<%= orderItem._id %>">
                                            <button type="button" onclick="handleclick(this)" class="btn btn-sm btn-primary retry-payment-btn"  data-order-id="<%= orderItem._id %>" data-order-totalPrice="<%= orderItem.totalPrice %>">
                                                 Retry Payment
                                            </button>
                                        <a class="btn btn-sm btn-secondary" href="/orderdetails/<%= orderItem._id %>" class="text-decoration-none text-dark"><i class="icofont-refresh"></i> View Details</a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                        <% } else { %>
                          <div class="col-12">
                            <p><strong> No Payments</strong> </p>
                          </div> 
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </main>
           
            
             <ul class="pagination justify-content-center">
              <% if (currentPage > 1) { %>
              <li class="page-item"><a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a>
              </li>
              <% } %>
              <% for (let i = 1; i <= totalPages; i++) { %>
              <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                  <a class="page-link" href="?page=<%= i %>"><%= i %></a>
              </li>
              <% } %>
              <% if (currentPage < totalPages) { %>
              <li class="page-item"><a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a></li>
              <% } %>
            </ul>
            
          </div>
        </main>
        
        
        
        
        
      </div>
    </div>
    <%- include('../partials/user-footer') %>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    const sidebarItems = document.querySelectorAll('.list-group-item');
  
    sidebarItems.forEach(item => {
        item.addEventListener('click', function() {
            sidebarItems.forEach(item => {
                item.classList.remove('text-highlight');
            });
            this.classList.add('text-highlight');
        });
    });
  
    const highlightedItem = localStorage.getItem('highlightedItem');
    if (highlightedItem) {
      sidebarItems.forEach(item => {
        item.classList.remove('text-highlight');
      });
      document.querySelector(`.list-group-item[href="${highlightedItem}"]`).classList.add('text-highlight');
    }
    
    sidebarItems.forEach(item => {
        item.addEventListener('click', function() {
            localStorage.setItem('highlightedItem', this.getAttribute('href'));
        });
    });
  </script>

<script>
 
      const handleclick = async (button) => {
        const orderId = button.getAttribute("data-order-id");
        const data = await fetch(`/findOrder/${orderId}`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
        
      })
      const res = await data.json()
      console.log(res,"dataaa");
          var options = {
            key: "rzp_test_0pK78JvD45gsXV",
            amount: res.totalPrice*100,
            currency: "INR",
            name: "bagsvio",
            description: "Test Transaction",
            image: "",
            handler: function (response) {
            
              verifyPayment(response, res);
            },
            theme: {
              color: "#3c3c3c",
            },
          };
          var rzp1 = new Razorpay(options);
          rzp1.open();
      }


    function verifyPayment(payment, order) {
   
      console.log("now in verifyPayment ", payment);
      fetch("/verifyPayment", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          payment: payment,
          order: order,
        }),
      }).then((response) => {
        if (response.ok) {
          location.href = '/paymentsuccess'
        } else {
       
          location.href = "";
        }
      });
    }
  </script>
  
  
</body>
</html>




