<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Place Order</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: #f8f9fa;
      }

      .card {
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .card-header {
        background-color: #6c757d;
        color: #fff;
        border-radius: 10px 10px 0 0;
      }

      .card-body {
        padding: 2rem;
      }

      .card-footer {
        background-color: #f8f9fa;
        border-top: none;
        border-radius: 0 0 10px 10px;
      }

      .btn-place-order {
        background-color: #0d6efd;
        border-color: #0d6efd;
      }

      .btn-place-order:hover {
        background-color: #0b5ed7;
        border-color: #0b5ed7;
      }
    </style>
  </head>

  <body>
    <header>
    </header>

    <section class="py-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card">
              <div class="card-header text-center">
                <h5 class="mb-0">Order Details</h5>
              </div>
              <div class="card-body">
                <% let totalPrice=0; %> <% userCart.items.forEach(item=> { %>
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-3">
                      <img
                        src="/uploads/<%= item.productId.images[0] %>"
                        class="img-fluid rounded-start"
                        alt="Product Image"
                      />
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h5 class="card-title">
                          <%= item.productId.ProductName %>
                        </h5>
                        <p class="card-text">Quantity: <%= item.quantity %></p>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card-body text-end">
                        <p class="card-text">
                          Price: ₹<%= item.productId.Price * item.quantity %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <% totalPrice +=item.productId.Price * item.quantity; %> <% });
                %>
                <% totalPrice=totalPrice-(discount || 0)%>

                <div class="row">
                  <div class="col-md-9"></div>
                  <div class="col-md-3">
                    <hr class="my-3" />
                    <p class="text-muted mb-0 fw-bold text-end">
                    
                     <br>
                      Total: ₹<%= totalPrice %>
                      
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-footer text-center">
                <form id="form-checkout" action="/confirmorder" method="post">
                  <% if(paymentMethod=='Cash On Delivery' ) { %>
                  <button
                    id="paymentButton"
                    class="btn btn-success btn-lg btn-block"
                    type="submit"
                  >
                    Place Order
                  </button>
                  <% } else if(paymentMethod=="Wallet" ){ %>
                  <button
                    id="paymentButton"
                    class="btn btn-success btn-lg btn-block"
                    type="submit"
                  >
                    Pay with Wallet
                  </button>
                  <% } else if(paymentMethod=="Online Payment" ){ %>
                  <button
                    id="onlinePaymentBtn"
                    class="btn btn-success btn-lg btn-block"
                    type="button"
                  >
                    Pay Now
                  </button>
                  <% } %>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
      document
        .getElementById("onlinePaymentBtn")
        .addEventListener("click", function () {
          makePayment();
        });

      function makePayment() {

        fetch("/makePayment", {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => {
            if (response.ok) {
              return response.json(); 
            } else {
              
              throw new Error("Payment failed");
            }
          })
          .then((data) => {
            const order = data.order;
            const id = order.id;
            const total = order.amount;
            var options = {
              key: "rzp_test_yOdXB6QYxSIZDa",
              amount: total,
              currency: "INR",
              name: "bagsvio",
              description: "Test Transaction",
              image: "",
              handler: function (response) {
              
                verifyPayment(response, order);
              },
              theme: {
                color: "#3c3c3c",
              },
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
          })
          .catch((error) => {
       
            console.error("Error:", error);
          
          });
      }

      function verifyPayment(payment, order) {
     
        console.log("now in verifyPayment ", payment);
        fetch("/verifyPayment", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            payment: payment,
            order: order,
          }),
        }).then((response) => {
          if (response.ok) {
            location.href = '/paymentsuccess'
          } else {
         
            location.href = "";
          }
        });
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
