<%- include('header')-%>

<style>
  .mt-4 {
    margin-top: 20px; 
  }

  .mt-4 h5 {
    margin-bottom: 15px;
  }

  .card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
  }

  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }

  .card-title {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    font-weight: 500;
  }

  .card-text {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }

  .text-muted {
    color: #6c757d !important;
  }

  .rating-stars {
    color: #f1c40f; 
  }
</style>
<%- include('../partials/navbar') %>
<!-- content -->
<section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div
          class="border rounded-4 mb-3 d-flex justify-content-center"
          style="overflow: hidden"
        >
          <img
            style="
              max-width: 100%;
              max-height: 100vh;
              transform-origin: center center;
              object-fit: cover;
              cursor: crosshair;
            "
            id="container"
            class="rounded-4 fit main-img"
            src="/uploads/<%= products.images[0] %>"
            alt="<%= products.ProductName %>"
          />
        </div>
        <div class="d-flex justify-content-center mb-3">
          <% products.images.slice(0, 3).forEach(image => { %>
          <a
            data-fslightbox="mygalley"
            class="border mx-1 rounded-2"
            target="_blank"
            data-type="image"
            class="item-thumb"
            onclick="changeImage(this)"
          >
            <img
              width="60"
              height="60"
              class="rounded-2"
              id="img"
              src="/uploads/<%= image %>"
            />
          </a>
          <% }); %>
        </div>
      </aside>

      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark"><%= products.ProductName %></h4>

          <div class="mb-3">
            <span class="h5">₹<%= products.Price %></span>
          </div>

          <p><%= products.Description %></p>

          <div class="row">
            <dt class="col-3">Category:</dt>
            <dd class="col-9"><%= products.Category.categoryName %></dd>

            <dt class="col-3">Brand:</dt>
            <dd class="col-9"><%= products.BrandName.brandName %></dd>
            <div class="d-none">
              <dt class="col-3">Stock:</dt>
              <dd id="stock" class="col-9">
                <%= products.AvailableQuantity %>
              </dd>
            </div>
          </div>

          <hr />

          <div class="row mb-4">
          

            <div class="col-md-4 col-6 mb-3">
              <label class="mb-2 d-block">Quantity</label>
              <div class="input-group mb-3" style="width: 170px">
                <button
                  class="btn btn-white border border-secondary px-3"
                  type="button"
                  id="button-addon1"
                  data-mdb-ripple-color="dark"
                >
                  <i class="fa fa-minus"></i>
                </button>
                <input
                  type="text"
                  id="quantityInput"
                  class="form-control text-center border border-secondary"
                  placeholder="1"
                  aria-label="Example text with button addon"
                  aria-describedby="button-addon1"
                  value="1"
                  disabled
                />
                <button
                  class="btn btn-white border border-secondary px-3"
                  type="button"
                  id="button-addon2"
                  data-mdb-ripple-color="dark"
                >
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div>

          <a
            href="#"
            class="btn btn-primary shadow-0"
            onclick="addToCart('<%= products._id %>',document.getElementById('quantityInput').value),'<%= products.AvailableQuantity %> '"
          >
            <i class="me-1 fa fa-shopping-basket"></i> Add to cart
          </a>

          <a
            href="#"
            class="btn btn-light border border-secondary py-2 icon-hover px-3"
            onclick="addToWishlist('<%= products._id %>')"
          >
            <i class="me-1 fa fa-heart fa-lg"></i>Add to Wishlist
          </a>

          <div class="mt-4" id="productReviewsContainer">
            <h5 class="mb-3">Product Reviews</h5>
            <% if (productReviews && productReviews.length > 0) { %> <%
            productReviews.forEach(review => { %>
            <div class="card mb-3">
              <div class="card-body">
                <h6 class="card-title">Rating:</h6>
                <div class="rating-stars" style="font-size: 30px">
                  <% for (let i = 0; i < review.rating; i++) { %> ★ <% } %>
                </div>
                <p class="card-text">Review: <%= review.reviewText %></p>
              </div>
              <div class="card-footer">
                <small class="text-success">
                  Submitted on <%= review.createdAt.toDateString() %></small>
                
              </div>
            </div>
            <% }); %> <% } else { %>
            <p>No reviews available for this product.</p>
            <% } %>
          </div>
        </div>
      </main>
    </div>
  </div>
</section>

<%- include('../partials/user-footer') %>

<!-- Include SweetAlert library -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
  const container = document.getElementById("container");
  const img = document.querySelector(".main-img");

  container.addEventListener("mousemove", onZoom);
  container.addEventListener("mouseover", onZoom);
  container.addEventListener("mouseleave", offZoom);

  function onZoom(e) {
    const x = e.clientX - e.target.offsetLeft;
    const y = e.clientY - e.target.offsetTop;

    img.style.transformOrigin = `${x}px ${y}px`;
    img.style.transform = "scale(1.2)";
  }

  function offZoom(e) {
    img.style.transformOrigin = `center center`;
    img.style.transform = "scale(1)";
  }

  function changeImage(element) {
    const newImageSrc = element.querySelector("img").getAttribute("src");
    img.src = newImageSrc;
  }

  async function addToCart(productId, quantity) {
    try {
      const quantityInput = document.getElementById("quantityInput");
      const quantity = parseInt(quantityInput.value); 
      const existingQuantity = parseInt(
        quantityInput.getAttribute("data-quantity") || 0
      );
      const stock = document.getElementById("stock").innerHTML;
      if (stock <= 0) {
        Swal.fire({
                icon: "error",
                title: "Error",
                text: "Out of stock. Cannot be added to cart.",
            });
            return;
      }

      const totalQuantity = quantity + existingQuantity;

      const response = await fetch("/addToCart", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ productId, quantity: totalQuantity }),
      });

      const data = await response.json();

      if (data.success) {
        Swal.fire({
          icon: "success",
          title: "Success",
          text: "Product added to cart successfully!",
        });
      } else {
        Swal.fire({
          icon: "error",
          title: "Error",
          text: "Failed to add product to cart,Quantity exceeds",
        });
      }
    } catch (error) {
      console.error("Error:", error);
      Swal.fire({
        icon: "error",
        title: "Error",
        text: "An error occurred while adding the product to the cart.",
      });
    }
  }

document.getElementById("button-addon2").addEventListener("click", function () {
  var quantityInput = document.getElementById("quantityInput");
  var currentQuantity = parseInt(quantityInput.value);
  var maxQuantity = parseInt(quantityInput.getAttribute("max"));
  var availableQuantity = parseInt(document.getElementById("stock").innerHTML);
  
  if (currentQuantity + 1 > maxQuantity) {
    Swal.fire({
      icon: "error",
      title: "Error",
      text: "Cannot exceed available stock.",
    });
  } else if (currentQuantity + 1 > availableQuantity) {
    Swal.fire({
      icon: "error",
      title: "Error",
      text: "Cannot exceed available stock.",
    });
  } else {
    quantityInput.value = currentQuantity + 1;
  }
});

  // Decrement quantity
  document
    .getElementById("button-addon1")
    .addEventListener("click", function () {
      var quantityInput = document.getElementById("quantityInput");
      if (parseInt(quantityInput.value) > 1) {
        quantityInput.value = parseInt(quantityInput.value) - 1;
      }
    });

  async function addToWishlist(productId) {
    try {
      const response = await fetch("/addToWishlist", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ productId }),
      });

      const data = await response.json();

      if (response.ok && data.success) {
        Swal.fire({
          icon: "success",
          title: "Success",
          text: "Product added to wishlist successfully!",
        });
      } else {
        Swal.fire({
          icon: "error",
          title: "Error",
          text: data.error || "Failed to add product to wishlist.",
        });
      }
    } catch (error) {
      console.error("Error:", error);
      Swal.fire({
        icon: "error",
        title: "Error",
        text: "An error occurred while adding the product to the wishlist.",
      });
    }
  }
</script>

<%- include('footer')-%>
