<%- include('header')-%>
<script>
  $('.carousel').carousel()
  </script>

<%- include('../partials/navbar') %>



<div class="container-fluid p-0">
  <a href="/products/<%= banners[0].category.categoryName %>"> 
  <img src="<%= banners[0].image %>" class="img-fluid banner-img" style=" height: 600px; width: 100%; margin-top: 20px;" alt="Banner Image">
</a>
</div>







<!-- New Arrivals Section -->
<section class="container my-5">
  <h2 class="text-center mb-4">New Arrivals</h2>

  <!-- First Row -->
  <div class="row mb-4 align-items-center">
    <!-- Product Cards -->
    <% newarrival.forEach(product => { %>
        <div class="col-lg-4">
          
            <div class="card text-center">
              <div style="text-align: center;">
                <a href="/productdetails/<%= product._id %>">
                <img src="<%= product.images[0] %>" class="card-img-top mt-2" style="border-radius: 5px;"  alt="<%= product.ProductName %>">
              </a>
              </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title"><%= product.ProductName %></h5>
                    <p class="card-text"> ₹ <%= product.Price %></p>
                </div>
            
          </div>
        </div>
    <% }) %>
</div>

    
</section>





<div class="container-fluid p-0">
  <% for (let i = 1; i < banners.length; i++) { %>
      <div class="banner-item">
          <a href="/products/<%= banners[i].category.categoryName %> ">
              <img src="<%= banners[i].image %>" alt="Banner <%= i + 1 %>" style="height: 600px; width: 100%; margin-top: 10px;">
          </a>
      </div>
  <% } %>
</div>





<section class="container my-5">
  <h2 class="text-center mb-4">New Trends</h2>

  <div class="row mb-4 align-items-center">
    <% newtrends.forEach(product => { %>
        <div class="col-lg-4">
          
            <div class="card text-center">
              <div style="text-align: center;">
                <a href="/productdetails/<%= product._id %>">
                  <img src="<%= product.images[0] %>" class="card-img-top mt-2" style="border-radius: 5px;" alt="<%= product.ProductName %>">
                </a>
              </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title"><%= product.ProductName %></h5>
                    <p class="card-text"> ₹ <%= product.Price %></p>
                </div>
            
          </div>
        </div>
    <% }) %>
</div>

    
</section>




<%- include('../partials/user-footer') %>
<%- include('footer')-%>
