<%- include('header')-%>
<script>
  $('.carousel').carousel()
  </script>

<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logo.png" alt="Logo" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/userhome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <% console.log(categories); %>
          <ul class="dropdown-menu">
            
            <% categories.forEach(category => { %>
              <% if (!category.isBlocked) { %>
              <li><a class="dropdown-item" href="/products/<%= category.categoryName %>"><%= category.categoryName %></a></li>
              <% } %>
              <% }); %> 
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacts</a>
        </li>
      </ul>
      <form class="d-flex" role="search" style="margin-right: 10px;">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="icons">
        <a href="/profile">
          <i class="fa fa-user text-dark" aria-hidden="true"></i>
        </a>
        <a href="/cart">
          <i class="fa fa-shopping-cart text-dark" aria-hidden="true"></i>
        </a>
        <a href="/wishlist">
          <i class="fa fa-heart text-dark" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- 
<div style="height: 150px;"></div> -->

<!-- Banner Section -->
<!-- <div class="container-fluid p-0 banner-container">
  <img src="/assets/images/b2.jpg" class="img-fluid banner-img" alt="Banner Image">
</div> -->

<!-- First banner section -->

<div class="container-fluid p-0">
  <a href="/products/<%= banners[0].category.categoryName %>"> 
  <img src="/uploads/<%= banners[0].image %>" class="img-fluid banner-img" style=" height: 600px; width: 100%; margin-top: 20px;" alt="Banner Image">
</a>
</div>

<!-- Banner Section -->
<!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% banners.forEach(function(banner, index) { %>
      <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
        <img class="d-block w-100" src="/uploads/<%= banner.image %>" alt="Slide <%= index + 1 %>">
      </div>
    <% }); %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>  -->





<!-- New Arrivals Section -->
<section class="container my-5">
  <h2 class="text-center mb-4">New Arrivals</h2>

  <!-- First Row -->
  <div class="row mb-4 align-items-center">
    <!-- Product Cards -->
    <% newarrival.forEach(product => { %>
        <div class="col-lg-4">
          
            <div class="card text-center">
              <div style="text-align: center;">
                <a href="/productdetails/<%= product._id %>">
                <img src="/uploads/<%= product.images[0] %>" class="card-img-top mt-2" style="border-radius: 5px;"  alt="<%= product.ProductName %>">
              </a>
              </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title"><%= product.ProductName %></h5>
                    <p class="card-text"> ₹ <%= product.Price %></p>
                </div>
            
          </div>
        </div>
    <% }) %>
</div>

    
</section>


<!-- Banner Section -->
<!-- <div class="container-fluid p-0 banner-container">
  <img src="/assets/images/b2.jpg" class="img-fluid banner-img" alt="Banner Image">
</div> -->


<div class="container-fluid p-0">
  <% for (let i = 1; i < banners.length; i++) { %>
      <div class="banner-item">
          <a href="/products/<%= banners[i].category.categoryName %> ">
              <img src="/uploads/<%= banners[i].image %>" alt="Banner <%= i + 1 %>" style="height: 600px; width: 100%; margin-top: 10px;">
          </a>
      </div>
  <% } %>
</div>

<!-- Banner Section -->
<!-- <div class="container-fluid p-0 h-75">
    <% if (banners && banners.length > 1 && banners[1].image) { %>
      <img src="/uploads/<%= banners[1].image %>" style="width: 100%;max-height: 700px;" alt="Banner Image">
    <% } %>
  </div> -->




<!-- New Trends Section -->
<section class="container my-5">
  <h2 class="text-center mb-4">New Trends</h2>

  <!-- First Row -->
  <div class="row mb-4 align-items-center">
    <!-- Product Cards -->
    <% newtrends.forEach(product => { %>
        <div class="col-lg-4">
          
            <div class="card text-center">
              <div style="text-align: center;">
                <a href="/productdetails/<%= product._id %>">
                  <img src="/uploads/<%= product.images[0] %>" class="card-img-top mt-2" style="border-radius: 5px;" alt="<%= product.ProductName %>">
                </a>
              </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title"><%= product.ProductName %></h5>
                    <p class="card-text"> ₹ <%= product.Price %></p>
                </div>
            
          </div>
        </div>
    <% }) %>
</div>

    
</section>

<!-- Add this JavaScript code after including Bootstrap's JavaScript -->



<%- include('../partials/user-footer') %>
<%- include('footer')-%>
