<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wallet</title>
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <style>
    .card {
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .card-title {
      color: #333;
      font-size: 24px;
      margin-bottom: 20px;
    }
    .card-body {
      padding: 20px;
    }
    .wallet-info {
      margin-bottom: 30px;
    }
    .wallet-info p {
      margin: 5px 0;
    }
    .transaction-history h2 {
      margin-top: 30px;
      margin-bottom: 15px;
    }
    .transaction-history .list-group-item {
      background-color: #f9f9f9;
      border: none;
      border-bottom: 1px solid #ddd;
    }
    .transaction-history .list-group-item:last-child {
      border-bottom: none;
    }
    .text-highlight {
   
    color: #e91818; 
    font-weight: bold; 
  }
  </style>
</head>
<body>

  <div style="height: 75px;"></div>

  <!-- Navbar -->
  
  <%- include('../partials/navbar') %>
  <!-- Main Content -->
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block  sidebar">
        <div class="position-sticky">
          <div style="margin-left: 50px; margin-top: 30px;">
            <a href="#" class="list-group-item list-group-item-action"><b>Manage My Account</b></a>
            <ul class="pl-4">
              <li><a href="/profile" class="list-group-item list-group-item-action" style="list-style: none;">Profile</a></li>
              <li><a href="/addressbook" class="list-group-item list-group-item-action">Address Book</a></li>
              <li><a href="/changepassword" class="list-group-item list-group-item-action">Change Password</a></li>
              <li><a href="/wallet" class="list-group-item list-group-item-action">Wallet</a></li>
              <li><a href="/coupon" class="list-group-item list-group-item-action">Coupons</a></li>
              <li><a href="/failedpayments" class="list-group-item list-group-item-action" style="list-style: none;">Failed Payment</a></li>
            </ul>
            <a href="/orders" class="list-group-item list-group-item-action"><b>Orders</b></a><br>
            <ul class="pl-4">
                <li><a href="/orders" class="list-group-item list-group-item-action" style="list-style: none;">My Orders</a></li>
                
            </ul>
            <a href="/cart" class="list-group-item list-group-item-action"><b>Cart</a></b><br>
            <a href="/wishlist" class="list-group-item list-group-item-action"><b>Wishlist</a></b><br>
            <a href="/logout" class="list-group-item list-group-item-action"><b>Logout</a></b><br>
          </div>
        </div>
      </nav>

      <div class="col-md-9 col-lg-10">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title text-center">Wallet Details</h1>
                  <div class="wallet-info">
                    <p><strong>User ID:</strong> <%= user._id %></p>
                    <p><strong>Balance:</strong> ₹<%= wallet?.balance?.toFixed(2) %></p>
                  </div>
                  <button id="topUpBtn" onclick="handleClick()" class="btn btn-primary mt-3">Top-Up Wallet</button>
                  <div class="transaction-history">
                    <h2>Transaction History</h2>

     
                    <ul class="list-group">
                      <% if (wallet?.transactions?.length > 0) { %>
                      <% for (let i = wallet?.transactions?.length - 1; i >= 0; i--) { %>
                      <li class="list-group-item">
                        <p><strong>Type:</strong>  <%= wallet?.transactions[i]?.transactionType %></p>
                        <p><strong>Amount:</strong> ₹<%= wallet?.transactions[i]?.amount?.toFixed(2) %></p>
                        <p><strong>Date:</strong> <%= wallet?.transactions[i]?.date?.toLocaleString() %></p>
                        <p><strong>From:</strong> <%= wallet?.transactions[i]?.from %></p>
                        <% if (wallet?.transactions[i]?.from === 'Top-Up') { %>
                          <p><strong>Payment ID:</strong> <%= wallet?.transactions[i]?.paymentId %></p>
                        <% } else { %>
                          <p><strong>Order ID:</strong> <%= wallet?.transactions[i]?.orderId %></p>
                        <% } %>
                      </li>
                      <% } %>
                      <% } else { %>
                        <div class="col-12">
                          <p><strong>No  Transactions</strong> </p>
                        </div> 
                      <% } %>
                    </ul>
                    
                  </div>

             <ul class="pagination justify-content-center">
              <% if (currentPage > 1) { %>
              <li class="page-item"><a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a>
              </li>
              <% } %>
              <% for (let i = 1; i <= totalPages; i++) { %>
              <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                  <a class="page-link" href="?page=<%= i %>"><%= i %></a>
              </li>
              <% } %>
              <% if (currentPage < totalPages) { %>
              <li class="page-item"><a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a></li>
              <% } %>
          </ul>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


  <script>
    const sidebarItems = document.querySelectorAll('.list-group-item');
  
    sidebarItems.forEach(item => {
        item.addEventListener('click', function() {
            sidebarItems.forEach(item => {
                item.classList.remove('text-highlight');
            });
            this.classList.add('text-highlight');
        });
    });
  
    const highlightedItem = localStorage.getItem('highlightedItem');
    if (highlightedItem) {
        sidebarItems.forEach(item => {
            item.classList.remove('text-highlight');
        });
        document.querySelector(`.list-group-item[href="${highlightedItem}"]`).classList.add('text-highlight');
    }
  
    sidebarItems.forEach(item => {
        item.addEventListener('click', function() {
            localStorage.setItem('highlightedItem', this.getAttribute('href'));
        });
    });


    function handleClick() {
      const amount = 100; 
      fetch('/createOrder', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ amount }),
      })
      .then(response => response.json())
      .then(order => {
        var options = {
          "key": "rzp_test_yOdXB6QYxSIZDa", 
          "amount": order.amount, 
          "currency": "INR",
          "name": "bagsvio",
          "description": "Wallet Top-Up",
          "order_id": order.id, 
          "handler": function (response){
            walletverifyPayment(response);
          },
          "prefill": {
            "name": "<%= user.name %>",
            "email": "<%= user.email %>",
            "contact": "<%= user.contact %>"
          },
          "theme": {
            "color": "#3399cc"
          }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
      })
      .catch(error => console.error('Error creating order:', error));
    };

    function walletverifyPayment(payment) {
  fetch('/walletverifyPayment', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(payment),
  })
    .then(response => {
      if (response.ok) {
        Swal.fire({
          title: 'Success!',
          text: 'Wallet topped up successfully!',
          icon: 'success',
          confirmButtonText: 'OK'
        }).then(() => {
          document.getElementById('balanceAmount').textContent = data.newBalance.toFixed(2);
        });
      } else {
        // Handle errors appropriately, e.g., using Swal
        Swal.fire({
          title: 'Error!',
          text: 'An error occurred while topping up your wallet.',
          icon: 'error',
          confirmButtonText: 'Close'
        });
      }
    });
}
  </script>
  
  <!-- Footer -->
  <%- include('../partials/user-footer') %>

</body>
</html>